@using BlogProjectOnion.Application.Models.VMs;

@model List<CommentVM>



<h3>@Model.Count Yorum</h3>

<!-- COMMENT 1 - START -->
@foreach (var item in Model)
{
    <div class="media" >
        @if (item.AppUser.ImagePath == "" || item.AppUser.ImagePath == null)
        {
            <a class="pull-left" href="#"><img class="media-object" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""></a>
        }
        else
        {
            <a class="pull-left" href="#"><img class="media-object" src="@item.AppUser.ImagePath" alt=""></a>
        }
        <div class="media-body">
            <h4 class="media-heading">@item.AppUser.UserName</h4>
            <p>@item.Content</p>
            <ul class="list-unstyled list-inline media-detail pull-left">
                <li><i class="fa fa-calendar"></i>@item.CreatedDate.ToShortDateString()</li>
                <li style="float:left"><i class="fa fa-thumbs-up" ></i>0</li>
            </ul>     
        </div>
    </div>
}

<style>
    .media-object{
        width: 150px;
        border-radius: 20px;
    

    }

</style>
