@using BlogProjectOnion.Application.Models.VMs;

@{
    ViewData["Title"] = "Index";
}

@model PostVM

<!-- Page Header-->
<header class="masthead" style="background-image: url('/@Model.ImagePath'); background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1 style="font-size:75px">@Model.Title</h1>
                    <h2 class="subheading">@Model.SubTitle</h2>
                    <span class="meta">
                        Bu makale
                        <a href="#!">@Model.Author.FirstName  @Model.Author.LastName </a>
                        tarafından  @Model.CreatedDate.ToShortDateString() tarihinde yayınlandı.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-12 px-lg-1">
        <div class="row gx-10 gx-lg-1 justify-content-center">
            <div class="col-md-10 col-lg-2 col-xl-12">
                @Html.Raw("<div class='custom-font'>" + Model.Content+ "</div>")
            </div>
        </div>
    </div>
</article>


<!-- Footer-->

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>



<style>

    .custom-font {
        font-family: 'Arial', sans-serif; /* Özel yazı tipi tanımı */
        font-size: 25px; /* Yazı tipi boyutu */
        font-weight: bold; /* Yazı tipi kalınlığı */
        /* Diğer stil özellikleri... */
    }
</style>