@using BlogProjectOnion.Application.Models.VMs;

@{
    ViewData["Title"] = "Index";
}

@model PostVM

<!-- Page Header-->
<header class="masthead" style="background-image: url('/@Model.ImagePath'); background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1 style="font-size:75px">@Model.Title</h1>
                    <h2 class="subheading">@Model.SubTitle</h2>
                    <span class="meta">
                        Bu makale
                        <a href="#!">@Model.Author.FirstName  @Model.Author.LastName </a>
                        tarafından  @Model.CreatedDate.ToShortDateString() tarihinde yayınlandı.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->s
<article class="mb-4">
    <div class="container px-12 px-lg-1">
        <div class="row gx-10 gx-lg-1 justify-content-center">
            <div class="col-md-10 col-lg-2 col-xl-12">
                @Html.Raw("<div class='custom-font'>" + Model.Content+ "</div>")
            </div>
        </div>
    </div>
</article>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                        <button class="btn btn-success pull-right" onclick="CommentOnThePost(@Model.Id)" style="margin-bottom : 10px">Gönder</button>
                <form>
                    <h3 class="pull-left">Yeni Yorum</h3>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-10 col-lg-2 col-xl-3">
                                <img class="img-responsive" style="width:200px" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                            </div>
                            <div class="form-group col-xs-12 col-sm-9 col-lg-9">
                                <textarea class="form-control" asp-for="Comment" id="message" placeholder="Mesajın" required=""></textarea>
                                <input id="userid" type="hidden" asp-for="AppUserId" />
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div id="yorumYapmaBolumu">
                <div id="form-Comment-List">
                    <!-- COMMENT -->
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->

<script src="~/js/site.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ListComments(@Model.Id);
    });
</script>



<style>

    .custom-font {
        font-family: 'Arial', sans-serif; /* Özel yazı tipi tanımı */
        font-size: 25px; /* Yazı tipi boyutu */
        font-weight: bold; /* Yazı tipi kalınlığı */
        /* Diğer stil özellikleri... */
    }
</style>