@using BlogProjectOnion.Application.Models.VMs;
@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg'); height:750px">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1> Hoş Geldiniz!</h1>
                    <span class="subheading">
                        Blog Vista'ya adım attığınız için teşekkür ederiz. Burası, düşüncelerinizi paylaşmak, güncel olaylar hakkında konuşmak ve yeni şeyler öğrenmek için bir alan. Bizimle birlikte bilgiyi kutlayın ve birlikte büyüyelim.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="transition-section" style="background-color: #f8f9fa;">

    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-md-10 col-lg-8 col-xl-8 text-center">
                <h2 class="section-heading mb-4">En Çok Okunan İlk 10 Makalemizi Keşfedin</h2>
                <p class="text-muted">Çeşitli konuları kapsayan düşündürücü makaleler koleksiyonunu keşfedin. Her bir yazı, size değerli görüşler ve bilgiler sunmak için özenle hazırlanmıştır. Keyifli okumalar!</p>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-8">
                <!-- Filters -->
                @*   <div class="d-flex justify-content-between mb-4">
                <div class="filter-group d-flex align-items-center">
                <label for="sortBy" class="mr-2">Sırala:</label>
                <select class="selectpicker" onclick="Sort()" id="sort-Select">
                <option value="growing">Okunan Artan</option>
                <option value="decreasing">Okunan Azalan</option>
                </select>
                </div>
                <div class="filter-group d-flex align-items-center">
                <label for="filterByLetter" class="mr-2">Ara:</label>
                <input type="text" id="filterByLetter" class="form-control" maxlength="1">
                </div>
                </div> *@
                <!-- Post preview-->
                @foreach (var item in Model)
                {
                    <div class="post-preview">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <a href="/Post/Index/@item.Id">
                                    <h2 style="font-size: 40px; margin-bottom: 10px;" class="post-title">@item.Title</h2>
                                    <label style="font-size: 50px; margin-top: -20px;"> @Html.Raw("<div class='custom-font'>" + item.SubTitle + "</div>")</label>
                                </a>
                                <p class="post-meta">
                                    Yayınlandığı Tarih
                                    <a href="#!">@item.Author</a>
                                    @item.CreatedDate.ToShortDateString()
                                </p>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-eye mr-1"></i>
                                <span class="post-view-counter">@item.ClickCount</span>
                            </div>
                        </div>
                        <hr class="my-4" />
                    </div>

                }
                <!-- Divider-->
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="~/Post/PostList">Diğer Makaleler →</a></div>
            </div>
        </div>
    </div>

</section>

@model List<PostVM>


<style>
    .read {
        background-color: rgba(255, 165, 0, 0.8); /* Turuncu tonları ve 0.8 opaklık */
    }


    .custom-font {
        font-family: 'Arial', sans-serif; /* Özel yazı tipi tanımı */
        font-size: 16px; /* Yazı tipi boyutu */
        font-weight: bold; /* Yazı tipi kalınlığı */
        /* Diğer stil özellikleri... */
    }

    .read {
        background-color: rgba(255, 165, 0, 0.8); /* Turuncu tonları ve 0.8 opaklık */
    }

    .custom-font {
        font-family: 'Arial', sans-serif; /* Özel yazı tipi tanımı */
        font-size: 16px; /* Yazı tipi boyutu */
        font-weight: bold; /* Yazı tipi kalınlığı */
        /* Diğer stil özellikleri... */
    }

    /* Geçiş Bölümü Stili */
    .transition-section {
        padding: 50px 0; /* İhtiyaca göre ayarlayabilirsiniz */
        text-align: center;
    }
</style>


