@using BlogProjectOnion.Application.Models.VMs;
@{
    ViewData["Title"] = "Home Page";
}

@model List<PostVM>

<link href="~/css/styles.css" rel="stylesheet" />

<header class="masthead" style="background-image: url('/Ready-Bootstrap-Dashboard-master/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>HOŞGELDİNİZ</h1>
                    <span class="subheading">Blog Vista'ya adım attığınız için teşekkür ederiz. Burası, düşüncelerinizi paylaşmak, güncel olaylar hakkında konuşmak ve yeni şeyler öğrenmek için bir alan. Bizimle birlikte bilgiyi kutlayın ve birlikte büyüyelim.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="transition-section" style="background-color: #f8f9fa;">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-md-10 col-lg-8 col-xl-10 text-center">
                <h1 class="section-heading mb-2" style="font-size:45px">En Çok Okunan İlk 10 Makalemizi Keşfedin</h1>
                <p class="text-muted">Çeşitli konuları kapsayan düşündürücü makaleler koleksiyonunu keşfedin. Her bir yazı, size değerli görüşler ve bilgiler sunmak için özenle hazırlanmıştır. Keyifli okumalar!</p>
            </div>
        </div>

        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-9">
                @foreach (var item in Model)
                {
                    <hr />
                    <div class="post-preview">
                        <a href="/Post/Index/@item.Id">
                            <h2 class="post-title">@item.Title</h2>
                            <h3 class="post-subtitle">@Html.Raw("<div class='custom-font' style='font-size: 18px;'>" + item.SubTitle + "</div>")</h3>
                        </a>
                        <p class="post-meta">
                            Yayınlandığı Tarih
                            <a href="#!">@item.Author</a>
                            @item.CreatedDate.ToShortDateString()
                        </p>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-eye mr-1"></i>
                            <span class="post-view-counter">@item.ClickCount</span>
                        </div>
                    </div>
                  
                }
                <!-- Divider-->
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="~/Post/PostList">Diğer Makaleler →</a></div>
            </div>
        </div>
    </div>

</section>






