@using BlogProjectOnion.Application.Models.VMs.AppUserVMs;

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

@model AppUserVM

<section style="background-color: #eee; ">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        @if (Model.ImagePath == "" || Model.ImagePath == null)
                        {
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                        }
                        else
                        {
                            <img src="/@Model.ImagePath" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                        }
                        <h5 class="" style="margin-bottom:-20px;margin-top:10px">@Model.UserName</h5>
                        <p class="text-muted " style="margin-bottom:-20px">ÜYE</p>
                        <p class="text-muted mb-4">Kayıt Tarihi : @Model.CreatedDate </p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <!-- Kullanıcının görmesini istediğin kişilerin ilk beşi -->
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-user-friends fa-lg text-primary"></i>
                                <p class="mb-0">Takip Edilen Kişi Adı 1</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-user-friends fa-lg text-primary"></i>
                                <p class="mb-0">Takip Edilen Kişi Adı 2</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-user-friends fa-lg text-primary"></i>
                                <p class="mb-0">Takip Edilen Kişi Adı 3</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-user-friends fa-lg text-primary"></i>
                                <p class="mb-0">Takip Edilen Kişi Adı 4</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-user-friends fa-lg text-primary"></i>
                                <p class="mb-0">Takip Edilen Kişi Adı 5</p>
                            </li>
                            <!-- Sayfalama için ileri-geri tuşları -->
                        </ul>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <span class="page-link">Önceki</span>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">1</span>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Sonraki</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card" style="margin-bottom:18.5px;height:398px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Ad Soyad :</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefon</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Adres</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@* @Model.Address *@</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-body">

                                <h5 class="card-title text-primary mb-4">Beğenilen Makaleler</h5>

                                <div id="profil-Post-List">

                                    @* BEGENDİGİ MAKALELERİN LİSTESİ  *@

                                </div>

                            </div>
                            <nav aria-label="Page navigation">
                              @*   <ul class="pagination justify-content-center">

                                    <li class="page-item disabled">
                                        <span class="page-link">Önceki</span>
                                    </li>
                                    @for (int i = 1; i <= Math.Ceiling(Model.Posts.Count / 5.00); i++)
                                    {
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link" onclick="ListArticles(@i)">@i</a>
                                    </li>
                                        
                                    }                                  
                                    <li class="page-item">
                                        <a class="page-link" href="#">Sonraki</a>
                                    </li>
                                </ul> *@

                                <ul class="pagination justify-content-center" >
                                    <li class="page-item disabled">
                                        <span class="page-link">Önceki</span>
                                    </li>
                                    @for (int i = 1; i <= Math.Ceiling(Model.Posts.Count / 5.00); i++)
                                    {
                                        <li class="page-item" aria-current="page">
                                            <a class="page-link" onclick="active(this, @i)">@i</a>
                                        </li>
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="#">Sonraki</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        ListArticles(1);
    });


    function active(element, pageNumber) {
        var currentActive = document.querySelector('.page-item.active');
        if (currentActive) {
            currentActive.classList.remove('active');
        }

        ListArticles(pageNumber);
        element.parentNode.classList.add('active');

    }
 
</script>


<style>
    /* Add borders and box shadows to the card elements */
    .card {
        border: 1px solid #ddd; /* Border color */
        border-radius: 10px; /* Border radius for rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    }

    .page-item.active {
        background-color: #007bff; /* Örnek renk */
        border-color: #007bff;
        color: #fff;
    }
    /* Add borders to the list items */
    .list-group-item {
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    /* Add borders and box shadows to the progress bars */
    .progress {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

        /* Add spacing between progress bars */
        .progress + p {
            margin-top: 10px;
        }

</style>
