@using BlogProjectOnion.Application.Models.VMs.AuthorVMs;
@using BlogProjectOnion.Domain.Entities;



<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


@model AppUser


<div class="row py-5 px-10">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        <a href="#" class="btn btn-outline-dark btn-sm btn-block">+Takip Et</a>
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">@Model.FirstName  @Model.LastName</h4>
                        <p class="small mb-4">
                            <i class="fas fa-map-marker-alt mr-2"></i>@Model.Address
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.Author.Posts.Count</h5>
                        <small class="text-muted">
                            <i class="fas fa-image mr-1"></i>Makale Sayısı
                        </small>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.Author.Follows.Count</h5>
                        <small class="text-muted">
                            <i class="fas fa-user mr-1"></i>Takipçi
                        </small>
                    </li>

                </ul>
            </div>

            <div class="px-4 py-3">
                <h5 class="mb-0">Hakkımda</h5>
                <div class="p-4 rounded shadow-sm bg-light">
                    @Model.About
                </div>
            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Başlıca Makaleler</h5>
                    <a href="/Post/MyPostList/@Model.Id" class="btn btn-link text-muted">Hepsini Gör</a>
                </div>
                <div class="row">
                    @for (int i = 0; i < Model.Author.Posts.Count; i++)
                    {

                        <div class="col-lg-6 mb-2 pr-lg-1">
                            <a href="/Post/Index/@Model.Author.Posts[i].Id">
                                <div class="card" style="height:250px">
                                    <img src="/@Model.Author.Posts[i].ImagePath" alt="Fotoğraf yüklenemedi" style="height:150px">
                                    <div class="card-body">
                                        @if (Model.Author.Posts.Count > 50)
                                        {
                                            <p style="font" class="card-text">@Model.Author.Posts[i].Title.Substring(0,50).Trim()...</p>

                                        }
                                        else
                                        {
                                            <p class="card-text">@Model.Author.Posts[i].Title</p>
                                        }
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-outline-dark:hover {
        background-color: #28a745;
        color: #fff;
    }

    .card {
        transition: transform 0.3s;
        color:black;
    }

        .card:hover {
            transform: scale(1.05);
            cursor: pointer;
            color: #0076bd;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Gölge rengi ve boyutunu ayarlayabilirsiniz */
        }

    .profile-head {
        transform: translateY(5rem)
    }

    .cover {
        background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
        background-size: cover;
        background-repeat: no-repeat
    }
</style>